
.carousel {
  margin: 20px auto;
  width: 80%;
}

.carousel-item {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.carousel-card {
  width: 100%;
  max-width: 300px;
  margin-left: 35%;
  
}

.carousel-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
}

.site-layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 20px;
  color:aliceblue;
}

.ant-menu-item {
  color: aliceblue !important;
}

.ant-menu-item:hover, .ant-menu-item-active {
  color: #ffffff !important;
  background: #1d1d1d !important;
}

.ant-menu-item-selected {
  background-color: #212121 !important;
  color: #ffffff !important;
}