.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Adjust height according to header and footer */
  background-color: #3c3c3c;
}

.register-form {
  background: #212121;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: aliceblue;
}

.register-form h3,
.register-form p {
  text-align: center;
  color: aliceblue;
}

.register-form-button {
  width: 100%;
}
